.container
{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap:20px 40px;
    grid-column-gap: 50vh;
    margin: 0 75px;
    height: 20vh;
    width: 40vh;
    
}

@media only screen and (max-width: 1600px) {
    .container {
        grid-template-columns: auto auto auto auto;
        
    }
}

@media only screen and (max-width: 768px) {
    .container {
        grid-template-columns: auto auto auto;
        
    }
}

@media only screen and (max-width: 68px) {
    .container {
        grid-template-columns: auto auto;
    }
}